<div class="jumbotron center">
  <h1>Polymorphic Users with Devise</h1>
  <p><a href="http://codebycodes.com/blog/2016/05/30/creating-polymorphic-users-with-devise-and-rails/">Back To Post</a></p>
  <h4><%= link_to 'Sign Up', new_user_registration_path %></h4>
</div>
